/*=============== COLORS ===============*/
:root {
  --color-primary: #1d3ba7;
  --color-secondary: #0077cc;
  --color-hover-txt: #7c8891;
  --color-background: #83c9fb20;
  --color-text: #333;
  --color-faded: #1d3ba707;
  --color-inverted: #f0f0f0;
  --color-border: #0077cc60;
  --color-btn-hover: #9cd6ff;
  --white: #ffffff;
}
.lektor {
  --color-primary: #677cc9;
  --color-secondary: #2a449f;
  --color-hover-txt: #000000;
  --color-background: #ece1ee80;
  --color-text: #333;
  --color-faded: #ece7de30;
  --color-inverted: #f0f0f0;
  --color-border: #0077cc60;
  --color-btn-hover: #ffed89;
}

/*============= BASE STYLES =============*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  line-height: 1.6;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
.no-margin {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Caladea", serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
}
h1 {
  font-size: 2em;
}
.small {
  font-size: small;
  color: red;
}
.header {
  width: 1152px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  height: fit-content;
  box-sizing: border-box;
}
footer {
  margin: auto;
  padding: 16px;
  padding-left: calc((100% - 1152px) / 2);
  padding-right: calc((100% - 1152px) / 2);
  background-color: var(--color-faded);
}
.left-column-foot {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main {
  margin-bottom: 16px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
}
img {
  border-radius: 8px;
}

/*============== NAV ==============*/
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding-left: 0;
}
nav ul li {
  padding: 8px 8px;
}
nav a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s;
}
nav a:hover {
  color: var(--color-hover-txt);
}
nav a.active {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}
.bgr-menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%;
  left: 0;
  padding: 1rem;
  margin-top: 8px;
}
.bgr-menu-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  list-style: none;
}
.bgr-menu-list ul li {
  padding: 8px 8px;
}
.bgr-menu-list a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s;
}
.bgr-menu-list a:hover {
  color: var(--color-hover-txt);
}
.bgr-menu-list a.active {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}
.button-li {
  background-color: var(--color-primary);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-inverted) !important;
  text-decoration: none;
}
.button-li.active {
  color: var(--color-inverted);
  font-weight: normal;
  text-decoration: underline;
}
.button-li:hover {
  color: var(--color-inverted);
  background-color: var(--color-secondary);
}

/*=========== MOBILE BAR ============*/
.mobile-bar {
  display: none;
}

/*============= FLAGS =============*/
.flag-icon {
  width: 25px;
  height: auto;
  vertical-align: middle;
  padding-bottom: 5px;
}

/*============= FORM =============*/
.form {
  background: var(--color-background);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h2 {
  text-align: center;
  margin-bottom: 16px;
}
.form-group {
  margin-top: 16px;
}
.form-group input,
.form-group textarea {
  box-sizing: border-box;
  margin-bottom: 0;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
.form-group textarea {
  min-height: 200px;
  resize: none;
}
#contact-form {
  width: 60%;
  margin: auto;
}
.thinner-form #contact-form {
  width: 100%;
}
.thicker-form .one,
.thinner-form .one {
  display: block;
  font-size: small;
}
.form-consent {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  justify-content: start;
  margin-top: 8px;
}
.form-consent input[type="checkbox"] {
  margin: 0;
  width: auto;
  align-self: flex-start;
  margin-top: 0.45em;
}
.form-consent label {
  width: 80%;
}
.right {
  text-align: right;
  margin: 0;
  margin-left: auto;
}
.two {
  display: flex;
  margin-top: 24px;
}
.form-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-inverted);
  border: none;
  font-family: "Lato", sans-serif;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: auto;
  margin-top: 32px;
}
.form-btn:hover {
  background-color: var(--color-secondary);
}

/*=================== LOADER===================*/
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  transform: translateY(-100px);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--color-primary) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  background-size: 8px 8px;
  animation-timing-function: linear;
}
@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

/*========= FOOTER ==========*/
.footer-logo {
  position: absolute;
}
.footer-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.address,
.contact-info {
  height: 100px;
  align-items: start;
}
.address p,
.contact-info p {
  margin: 8px 0;
}
.map {
  width: 600px;
}
.map iframe {
  border-radius: 8px;
}
.footer-copyright {
  position: absolute;
  margin: 0;
  transform: translateY(-25.6px);
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding-top: 32px;
}
/*============= CONTACT ==============*/
.contact-page {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-left: calc((100% - 1152px) / 2);
  padding-right: calc((100% - 1152px) / 2);
}
.mobile-size {
  display: none;
}
.desktop-size {
  display: block;
}
.left-column-contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.left-column-contact h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
}
.section {
  width: 48%;
  margin-top: 24px;
}
.section .form {
  border-radius: 8px;
}
.contact-i {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.contact-i img {
  margin-right: 8px;
}
.horizontal {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  width: 100%;
}
.img-contact-box {
  border-radius: 8px;
  border: solid 3px var(--color-background);
  height: 300px;
  width: 230px;
  overflow: hidden;
}
.contact-image {
  width: 100%;
  height: auto;
  transform: scale(1.3);
  transform-origin: center right;
}
.logo-kruh {
  padding-top: 48px;
}
.loga {
  display: flex;
  gap: 24px;
}
.logo-kruh-1 {
  padding-top: 54px;
}
.contact-link {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: var(--color-primary);
}
.contact-link:hover {
  color: var(--color-hover-txt);
  text-decoration: underline;
}
.contact-link:visited {
  color: var(--color-primary);
}
.contact-link:active {
  color: var(--color-active);
}
.tooltip {
  padding-left: 8px;
}

/*============= LESSONS ==============*/
.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letak-img {
  border-radius: 8px;
}
.pricing-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.pricing-table th,
.pricing-table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}
.pricing-table th {
  background-color: #ffd90070;
}
.pricing-table tbody tr:nth-child(odd) {
  background-color: #ffd90030;
}
.lesson-form-textarea textarea {
  min-height: 100px;
}
.about-content {
  display: flex;
}
.about-text {
  padding: 16px 40px 16px 0;
}
.about-photo {
  margin-top: -60px;
}
.lower-position {
  margin-top: 0;
}
.lektor-main {
  background-image: url("/SwornTranslatorStaticWeb/images/bgr.png");
  background-color: rgb(255, 255, 255, 0.2);
  background-blend-mode: lighten;
}
.main-hero {
  width: 100%;
  background-color: white;
}

/*============= PRICES ==============*/
.table-prices {
  width: 100%;
  border-collapse: collapse;
}
.table-prices tr,
.table-prices td {
  border: 1px solid black;
  padding: 4px;
  padding-left: 8px;
  text-align: left;
}
.table-prices th {
  text-align: left;
  padding-left: 24px;
  width: 100%;
  font-weight: bold;
  background-color: #e0f0ff;
}
.table-prices th:nth-child(1),
.table-prices td:nth-child(1) {
  width: 40%;
}
.table-prices th:nth-child(2),
.table-prices td:nth-child(2) {
  width: 45%;
}
.table-prices th:nth-child(3),
.table-prices td:nth-child(3) {
  width: 15%;
}
.table-prices tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.price-list-units {
  margin-top: 0px;
  margin-bottom: 0 !important;
}
.price-list-units-p {
  margin-bottom: 0;
  margin-top: 0;
}
.no-top-margin {
  margin-top: 0;
  margin-bottom: 8px;
}
.vertical-align-middle {
  vertical-align: middle;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
.small-margin-p {
  margin: 8px 0;
  margin-bottom: 0 !important;
}
.thinner-padding {
  padding: 20px 0 !important;
}

/*===================== SERVICES =====================*/
.alpha-list {
  list-style-type: lower-alpha;
}
.alpha-list li::marker {
  content: counter(list-item, lower-alpha) ") ";
}

/*===================== HOME =====================*/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-image: url("/SwornTranslatorStaticWeb/images/docs_img.jpg");
  background-color: rgb(255, 255, 255, 0.75);
  background-blend-mode: lighten;
  background-size: cover;
}
.lector-hero {
  background-image: url("/SwornTranslatorStaticWeb/images/english_lessons.jpg");
  background-color: rgb(255, 255, 255, 0.75);
  background-blend-mode: lighten;
  background-size: cover;
}
.white-strip {
  width: 100%;
  height: 16px !important;
  background-color: var(--white);
}
.index-logo {
  width: 350px;
  margin-top: 35px;
}
.index-title {
  margin-top: 25px;
  width: 90%;
  text-align: center;
}
.index-subtitle {
  margin-top: 0px;
  width: 80%;
  max-width: 1152px;
  text-align: center;
  margin-bottom: 28px;
}
.button-main {
  background-color: var(--color-primary);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-inverted);
  text-decoration: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-align: center;
  height: 40px;
}
.button-main:hover {
  color: var(--color-inverted);
  background-color: var(--color-secondary);
  cursor: pointer;
}
.gap-left {
  margin-left: 8px;
}
/*==================== SECTIONS ====================*/
.color-section {
  background-color: var(--color-faded);
}
.res-col {
  flex-direction: row;
  align-items: start;
}
.color-section,
.white-section {
  width: 100%;
  padding: 40px 0;
}
.color-section > *,
.white-section > * {
  max-width: 1152px;
  margin: auto;
  width: 100%;
}
.color-section small,
.white-section small {
  padding-left: calc((100% - 1152px) / 2);
}
.white-section hr,
.color-section hr {
  max-width: 100%;
}
.color-section h2,
.white-section h2 {
  text-align: left;
  margin-bottom: 24px;
}
.color-section p,
.color-section ul,
.white-section p,
.white-section ul {
  margin-bottom: 16px;
}
.btn-group {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.btn-group button,
.btn-group a {
  margin: 0;
  margin-top: 16px;
}
.a-btn {
  height: 24px !important;
}
.flexy {
  display: flex;
}
.btn-right {
  margin-left: auto;
}

/*=================== GALLERY ===================*/
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.stamp {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.certificate-thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.flexy-column {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}
.labely {
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.desktop-VOP {
  display: block;
}
.mobile-VOP {
  display: none;
}
.desktop-ADD {
  display: block;
}
.mobile-ADD {
  display: none;
}
.desktop-only {
  display: block;
}
.desktop-only-flex {
  display: flex;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.colored-header {
  background-color: var(--color-faded);
}

/*==================== HAMBURGER ====================*/
.mobile-only {
  display: none;
}
#menu_checkbox,
#menu_checkbox1 {
  display: none;
}
.label {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.label:before {
  content: none;
}
.label div {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #000;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
}
.label div:last-child {
  margin-bottom: 0;
}
.label div:first-child {
  transform-origin: left;
}
.label div:last-child {
  transform-origin: left;
}
#menu_checkbox:checked + .label div:first-child,
#menu_checkbox1:checked + .label div:first-child {
  top: 0px;
  transform: rotate(39deg);
  width: 39px;
}
#menu_checkbox:checked + .label div:nth-child(2),
#menu_checkbox1:checked + .label div:nth-child(2) {
  opacity: 0;
  transition: ease-in-out 0.1s;
}
#menu_checkbox:checked + .label div:last-child,
#menu_checkbox1:checked + .label div:last-child {
  transform: rotate(-39deg);
  width: 39px;
}
.mini {
  display: none;
}
.bgr-menu-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.bgr-menu-list.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*=================== MEDIA QUERIES ===================*/
@media screen and (max-width: 1200px) {
  .mobile-only {
    display: block;
  }
  .header {
    width: 90%;
  }
  .address {
    height: auto;
  }
  .desktop-VOP {
    display: none;
  }
  .desktop-only-flex {
    display: none;
  }
  .mobile-VOP {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .desktop-ADD {
    display: none;
  }
  .mobile-ADD {
    display: block;
  }
  .footer-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright {
    display: block;
    position: static;
    transform: none;
    margin-top: 16px;
  }
  .left-column-foot {
    margin-top: 1.6rem;
    width: 600px;
    justify-content: space-between;
  }
  .contact-page {
    flex-direction: column;
    align-items: center;
  }
  .thinner-form {
    width: 100%;
  }
  .thinner-form #contact-form {
    width: 70%;
  }
  .contact-page .section {
    width: 100%;
  }
  .color-section > *,
  .white-section > * {
    width: 90%;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
  }
  .res-col {
    flex-direction: column;
  }
  .about-photo {
    margin: auto;
  }
  small {
    width: 90%;
    margin: auto;
    display: block;
    padding-top: 16px;
  }
  .gallery-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .index-logo {
    width: 30%;
  }
  .left-column-contact {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .logo-kruh {
    padding-top: 0;
  }
  .horizontal {
    height: 500px;
  }
  .img-contact-box {
    height: 100%;
    width: 50%;
  }
  .mobile-size {
    display: block;
  }
  .desktop-size {
    display: none;
  }
  .footer-logo {
    margin-top: 1.6rem;
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .map {
    width: 110%;
    max-width: 110%;
    height: 100%;
  }
  .desktop-only {
    display: none;
  }
  .footer-line {
    width: 90%;
  }
  .left-column-foot {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin-top: 1.6rem;
  }
  .footer-logo,
  .header-logo {
    position: static;
    transform: none;
    height: 43px;
  }
  .contact-info {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright {
    text-align: center;
    width: 90%;
    font-size: small;
  }
  .mobile-VOP {
    text-align: center;
    width: 90%;
  }
  .map iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
  }
  h1 {
    text-align: center !important;
  }
  .horizontal {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .img-contact-box {
    height: 350px;
    width: 275px;
  }
  .loga {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .logo-kruh-1 {
    padding-top: 0;
  }
  .logo-kruh {
    padding-top: 0;
  }
  .thinner-form #contact-form {
    width: 90%;
    margin: 0;
  }
  .thinner-form {
    padding: 0;
    width: 100%;
  }
  h2 {
    text-align: center !important;
  }
  h3 {
    text-align: center !important;
  }
  .index-subtitle {
    width: 90%;
  }
  .hero-section {
    background-repeat: no-repeat;
    background-position: 70% 30%;
  }
  .lector-hero {
    background-repeat: no-repeat;
    background-position: 10% 0%;
  }
  .small-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .a-btn {
    height: auto !important;
    min-height: auto !important;
  }
  .button-main {
    height: auto;
    min-height: 40px;
  }
  .about-content {
    flex-direction: column;
  }
  .about-text {
    padding: 0;
  }
  .about-photo {
    display: block;
    margin: auto;
  }
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }
  ul {
    padding: 0;
    padding-left: 10%;
    width: 80% !important;
  }
  .sluzby-ul {
    padding-left: 5% !important;
    width: 85% !important;
  }
  .letak-img {
    width: 100%;
    height: auto;
  }
  .color-section,
  .white-section {
    padding: 20px 0;
  }
  #contact-form {
    width: 100%;
  }
  .form {
    padding: 2em 1em;
    box-sizing: border-box;
  }
  .index-logo {
    width: 222px;
  }
  .table-prices th:nth-child(1),
  .table-prices td:nth-child(1) {
    width: 30%;
  }
  .table-prices th:nth-child(2),
  .table-prices td:nth-child(2) {
    width: 45%;
  }
  .table-prices th:nth-child(3),
  .table-prices td:nth-child(3) {
    width: 30%;
  }
  .table-prices {
    width: 100% !important;
  }
  .table-prices th {
    padding-left: 8px;
  }
  .table-prices td {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .mini {
    display: block;
    margin: auto;
  }
  .map {
    height: 200px;
  }
  .mobile-only {
    display: none;
    box-sizing: border-box;
  }
  .header {
    justify-content: center;
  }
  .bgr-menu-list {
    top: 0;
    height: calc(100% - 80px);
    box-sizing: border-box;
    position: fixed;
    margin-top: 0;
    justify-content: center;
  }
  .mobile-bar {
    height: 80px;
    background: var(--white);
    box-shadow: 0 -3px 8px rgba(6, 55, 152, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .mb .email-svg,
  .mb .phone-svg {
    height: 40px;
    width: 40px;
  }
  .mobile-VOP {
    margin-bottom: 96px;
  }
}
