/*=============== COLORS ===============*/
:root {
  --color-primary: #1d3ba7;
  --color-secondary: #0077cc;
  --color-hover-txt: #7c8891;
  --color-background: #0077cc20;
  --color-text: #333;
  --color-faded: #1d3ba710;
  --color-inverted: #f0f0f0;
  --color-border: #0077cc60;
  --color-btn-hover: #9cd6ff;
}
.lektor {
  --color-primary: #677cc9;
  --color-secondary: #2a449f;
  --color-hover-txt: #000000;
  --color-background: #ece1ee80;
  --color-text: #333;
  --color-faded: #ece7de30;
  --color-inverted: #f0f0f0;
  --color-border: #0077cc60;
  --color-btn-hover: #ffed89;
}

/*============= BASE STYLES =============*/
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  line-height: 1.6;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: "Caladea", serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
}
h1 {
  font-size: 2em;
}
.small {
  font-size: small;
}
header {
  width: 1152px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  height: fit-content;
  box-sizing: border-box;
}
footer {
  margin: auto;
  padding: 16px;
  padding-left: calc((100% - 1152px) / 2);
  padding-right: calc((100% - 1152px) / 2);
  background-color: var(--color-faded);
}
main {
  margin-bottom: 16px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
}

/*============== NAV ==============*/
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding-left: 0;
}
nav ul li {
  padding: 8px 8px;
}
nav a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s;
}
nav a:hover {
  color: var(--color-hover-txt);
}
nav a.active {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}
.button-li {
  background-color: var(--color-primary);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-inverted);
  text-decoration: none;
}
.button-li.active {
  color: var(--color-inverted);
  font-weight: normal;
  text-decoration: underline;
}
.button-li:hover {
  color: var(--color-inverted);
  background-color: var(--color-secondary);
}
/*============= FLAGS =============*/
.flag-icon {
  width: 25px;
  height: auto;
  vertical-align: middle;
  padding-bottom: 5px;
}

/*============= FORM =============*/
.form {
  background: var(--color-background);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h2 {
  text-align: center;
  margin-bottom: 16px;
}
.form-group {
  margin-top: 16px;
}
.form-group input,
.form-group textarea {
  box-sizing: border-box;
  margin-bottom: 0;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
.form-group textarea {
  min-height: 200px;
  resize: none;
}

#contact-form {
  width: 60%;
  margin: auto;
}

.thinner-form #contact-form {
  width: 100%;
}
.thinner-form .one,
.thicker-form .two {
  display: none;
}
.thicker-form .one,
.thinner-form .two {
  display: block;
}

.form-consent {
  display: flex;
  align-items: start;
  gap: 8px;
  justify-content: start;
  height: 26px;
  margin-top: 8px;
}
.form-consent input[type="checkbox"] {
  margin: 0;
  width: auto;
  align-self: center;
}
.right {
  text-align: right;
  margin: 0;
  margin-left: auto;
}
.two {
  display: flex;
  margin-top: 24px;
}

.form-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-inverted);
  border: none;
  font-family: "Lato", sans-serif;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: auto;
  margin-top: 32px;
}
.form-btn:hover {
  background-color: var(--color-secondary);
}
/*=================== LOADER===================*/
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  transform: translateY(-100px);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--color-primary) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  background-size: 8px 8px;
  animation-timing-function: linear;
}
@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

/*========= FOOTER ==========*/
.footer-logo {
  position: absolute;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address,
.contact-info {
  height: 100px;
  align-items: start;
}
.address p,
.contact-info p {
  margin: 8px 0;
}

.map {
  height: 300px;
}
.map iframe {
  border-radius: 8px;
}

.footer-copyright {
  position: absolute;
  margin: 0;
  transform: translateY(-25.6px);
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding-top: 32px;
}
/*============= CONTACT ==============*/
.contact-page {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-left: calc((100% - 1152px) / 2);
  padding-right: calc((100% - 1152px) / 2);
}
.left-column-contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.left-column-contact h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
}
.section {
  width: 48%;
  margin-top: 24px;
}
.section .form {
  border-radius: 8px;
}
.contact-i {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.contact-i img {
  margin-right: 8px;
}
.horizontal {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  width: 100%;
}
.img-contact-box {
  border-radius: 8px;
  border: solid 3px var(--color-background);
  height: 300px;
  width: 230px;
  overflow: hidden;
}
.contact-image {
  width: 100%;
  height: auto;
  transform: scale(1.3);
  transform-origin: center right;
}
.logo-kruh {
  padding-top: 48px;
}
.loga {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.logo-kruh-1 {
  padding-top: 54px;
}
.contact-link {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: var(--color-primary);
}
.contact-link:hover {
  color: var(--color-hover-txt);
  text-decoration: underline;
}
.contact-link:visited {
  color: var(--color-primary);
}
.contact-link:active {
  color: var(--color-active);
}
.tooltip {
  padding-left: 8px;
}

/*============= LESSONS ==============*/
.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letak-img {
  border-radius: 8px;
}
.pricing-table {
  width: 100%; /* tabulka zabere celý div */
  border-collapse: collapse; /* sjednocení hranic buněk pro lepší vzhled */
  margin-top: 20px;
}

.pricing-table th,
.pricing-table td {
  border: 1px solid #333; /* černé ohraničení buněk */
  padding: 10px; /* prostor uvnitř buněk */
  text-align: left; /* zarovnání textu */
}

.pricing-table th {
  background-color: #ffd90070; /* světlejší pozadí pro hlavičku */
}

.pricing-table tbody tr:nth-child(odd) {
  background-color: #ffd90030; /* střídavé barvy řádků pro lepší čitelnost */
}
.lesson-form-textarea textarea {
  min-height: 100px;
}

/*============= PRICES ==============*/

.content-box-main {
  width: 1152px;
  margin: auto;
}
.table-prices {
  width: 100%;
  border-collapse: collapse;
}

.table-prices tr,
.table-prices td {
  border: 1px solid #000;
  padding: 4px;
  padding-left: 8px;
  text-align: left;
}
.table-prices th {
  text-align: left;
  padding-left: 24px;
  width: 100%;
  font-weight: bold;
  background-color: #e0f0ff;
}

.table-prices th:nth-child(1),
.table-prices td:nth-child(1) {
  width: 40%;
}

.table-prices th:nth-child(2),
.table-prices td:nth-child(2) {
  width: 45%;
}

.table-prices th:nth-child(3),
.table-prices td:nth-child(3) {
  width: 15%;
}

.table-prices tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* světle šedé pozadí lichých řádků */
}
.price-list-units {
  margin-top: 0px;
}
.price-list-units-p {
  margin-bottom: 0;
  margin-top: 0;
}
.no-top-margin {
  margin-top: 0;
  margin-bottom: 8px;
}
.vertical-align-middle {
  vertical-align: middle;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
.small-margin-p {
  margin: 8px 0;
}

/*===================== SERVICES =====================*/
.alpha-list {
  list-style-type: lower-alpha;
}
.alpha-list li::marker {
  content: counter(list-item, lower-alpha) ") ";
}

/*===================== HOME =====================*/
.index-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 600px;
  overflow: hidden;
  opacity: 0.25;
}
.index-logo {
  height: 350px;
  position: absolute;
  top: 20%;
  /*tohle predelat na pixely ne procenta kvuli zmensovani*/
  /*   filter: drop-shadow(2px 4px 6px #b8bdc4); */
}
.index-title {
  position: absolute;
  top: calc(20% + 340px);
  /*   text-shadow: 2px 2px 4px #b8bdc4; */
}
.index-subtitle {
  position: absolute;
  width: 80%;
  text-align: center;
  top: calc(20% + 350px + 64px);
  /* text-shadow: 2px 2px 4px #b8bdc4; */
}
.button-main {
  background-color: var(--color-primary);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-inverted);
  text-decoration: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.button-main:hover {
  color: var(--color-inverted);
  background-color: var(--color-secondary);
  cursor: pointer;
}
